@font-face { font-family: kanit; src: url('Kanit-Thin.ttf'); }  
body{
    background-color: #59A546;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
#blackCircle { 
    position:absolute; top: 36.3%;
}
square
{
    position: absolute;
    background-color: #1F1C1C;
    height:100%;width: 22%; top:0%; right:0%;
}

#pick { 
    position:absolute; 
    width: 40px;
    height: 100px; 
    top: 4%;
    right: 0%;
    object-fit: cover;
    object-position: 0% 0%;
    transform: scale(0.5);
    animation: loop 1s;
    animation-iteration-count: infinite;
}
@keyframes loop {
    0% {
        right: 0%;
    }
    50% {
        right: 0.2%;
    }
    100% {
        right: 0%;
    }
}

#título{
    font-family: kanit;
    color: white;
    font-size: 380%;
    position: absolute;
    top: -3%;
    
}

#styled{
    font-family: kanit;
    position: absolute;
    right: 12%;
    top: -12%;
    transform: scale(0.1);
}

#cronometro-titulo{
    font-family: kanit;
    color: white;
    position: absolute;
    right: 18vw;
}




#tempo{
    font-family: kanit;
    color: white;
    font-size: 380%;
    position: absolute;
    top: 37%;
    
}
#descrição{
    font-family: kanit;
    color: white;
    font-size: 150%;
    position: absolute;
    top: 80%;
    
}